@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, seja bem-vindo!</h1>
    <div class="jumbotron">
        <hr class="my-4">
        <p>Selecione a opção desejada:</p>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Chamados" asp-action="Index">Chamados</a>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>

    </div>
</div>
